* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost", sans-serif;

}

.container {
    max-width: 1280px;
    padding-inline: 20px;
    margin-inline: auto;

}

.main-parent-class {
    display: flex;
    gap: 20px;
    width: 100%;
    
    
  

}
.sec-class-encer{
    padding-block: 100px;

    
}


/* title */
.list-contract{
    margin-top: 5px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
}
.span-tage-sec {
    color: rgba(26, 224, 158, 0.925);

}

.lorem-facts {
    font-size: 10px;
    margin-top: 15px;
    color: rgba(29, 28, 26, 0.849);
}

.button-mode {
    margin-top: 18px;
    padding:17px ;
    background-color: rgb(11, 231, 158);
    display: inline-flex;
    align-items: center ;
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding-block: 5px;
    padding-right: 14px ;
}
.number-sec{
    font-size: 30px;
    margin-top: 40px;
    padding-left:18px;
    font-family: unset;
    font-weight: 400;
}
.consentraint-cemio{
    margin-top: 7px;
    font-size: 11px;
    padding-left: 18px ;
    font-family: unset;
    font-weight: 300;
    color: rgba(34, 31, 31, 0.884);
    margin-bottom: 22px;
}
/* wraps */
.box-size {
    width: 8px;
    aspect-ratio: 1/1;
    background-color: rgba(11, 231, 158, 0.671);
    margin: 26px;

   
}
.heading-pg{
    width: 50%;
}

.iner-colum-sec{
     display: grid;
     grid-template-columns:repeat(2,1fr);
    gap: 30px;
    /* margin-top: 20px; */


}
.iner-colum {
            background-color: rgba(221, 236, 236, 0.685);
            margin-top:20px;
            
}

.imges-class{
    width: 50%;
    position: absolute;
    right: 0;
    padding-left: 30px;
}

.imges-class img {
    width: 100%;
    
    object-fit: cover;
    
    
}
@media (max-width:1023.99px) {
            .iner-colum-sec{
                grid-template-columns:repeat(2,1fr);
               
        }
        .main-parent-class{
         flex-direction: column;
        }
       


}
@media (max-width:767.99px) {
         .imges-class {
    width: 100%;
    position: static;
         }

 .iner-colum-sec {
    
     grid-template-columns:repeat(1,1fr);
    
    
}
.imges-class{
  
    padding-left: 0;
    
}
         }