* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost", sans-serif;

}

.container {
    max-width: 1280px;
    padding-inline: 20px;
    margin-inline: auto;

}

.main-parent-class {
    display: flex;
    gap: 20px;
    
    
  

}
.sec-class-encer{
    padding-block: 100px;
    
}


/* title */
.list-contract{
    margin-top: 5px;
    font-size: 35px;
}
.span-tage-sec {
    color: rgb(26, 224, 224);

}

.lorem-facts {
    font-size: 16px;
    margin-top: 15px;
    
}

.button-mode {
    margin-top: 18px;
    padding:17px ;
    background-color: rgb(11, 231, 158);
    display: inline-flex;
    align-items: center ;
    text-decoration: none;
    border-radius: 5px ;
    color: white;

}
.number-sec{
    font-size: 30px;
    margin-top: 10px;
    padding:15px ;
}
.consentraint-cemio{
    margin-top: 5px;
    font-size: 15px;
    padding: 15px ;
}
/* wraps */
.box-size {
    width: 12px;
    aspect-ratio: 1/1;
    background-color: rgb(11, 231, 158);
    margin: 20px;

   
}
.heading-pg{
    width: 50%;
}

.iner-colum-sec{
     display: grid;
     grid-template-columns:repeat(2,1fr);
    gap: 30px;
    margin-top: 20px;


}
.iner-colum {
            background-color: rgba(221, 236, 236, 0.685);
            margin-top:20px;
            
}

.imges-class{
    width: 50%;
    position: absolute;
    right: 0;
    padding-left: 30px;
}

.imges-class img {
    width: 100%;
    
    object-fit: cover;
    
    
}
@media (max-width:1023.99px) {
            .iner-colum-sec{
                grid-template-columns:repeat(2,1fr);
               
        }
        .main-parent-class{
         flex-direction: column;
        }
       
.heading-pg{
    width: 100%;
}

}
@media (max-width:767.99px) {
         .imges-class {
    width: 100%;
    position: static;
         }

 .iner-colum-sec {
    
     grid-template-columns:repeat(1,1fr);
    
    
}
.imges-class{
  
    padding-left: 0;
    
}
         }