* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1280px;
    padding-inline: 20px;
    margin-inline: auto;

}

.main-parent-class {
    display: flex;
    align-items: end;



}

.sec-class-encer {
    padding-block: 100px;
    background: #ddd6d6d4;

}


/* title */
.list-contract {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;

}

.span-tage-sec {
    color: #00ac8d;

}

.lorem-facts {
    font-size: 16px;

    color: rgba(29, 28, 26, 0.849);
}

.button-mode {
    margin-top: 38px;
    padding: 35px;
    background-color: #00ac8d;
    ;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding-block: 10px;
    ;
}

.number-sec {
    font-size: 30px;
    font-family: unset;
    font-weight: 400;
}

.consentraint-cemio {
    margin-top: 11px;
    font-size: 14px;

    font-family: unset;
    font-weight: 300;
    color: rgba(34, 31, 31, 0.884);

}

/* wraps */
.box-size {
    width: 8px;
    aspect-ratio: 1/1;
    background-color: #00ac8d;
    ;



}

.heading-pg {
    width: 50%;
    padding-right: 50px;
}

.iner-colum-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 20px;


}

.iner-colum {
    background-color: white;

    padding: 30px;
    display: flex;
    gap: 60px;
    flex-direction: column;

}

.imges-class {
    width: 50%;
    position: absolute;
    right: 0;
    padding-left: 10px;
    aspect-ratio: 1;
}

.imges-class img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

@media (max-width:1023.99px) {
    .iner-colum-sec {
        grid-template-columns: repeat(2, 1fr);

    }

    .main-parent-class {
        flex-direction: column;
        align-items: start;
        justify-content: end;
        gap: 20px;
    }

    .heading-pg {
        width: 100%;
        padding: 0;
    }

    .imges-class {
        width: 100%;
        position: static;
    }


}

@media (max-width:767.99px) {
    .imges-class {
        width: 100%;
        position: static;
    }

    .iner-colum-sec {

        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }

    .imges-class {

        padding-left: 0;

    }

    .sec-class-encer {
        padding-block: 30px;
    }
}

@media (max-width:575px) {

    .list-contract {
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 500;

    }

    .iner-colum-sec {

        grid-template-columns: repeat(1, 1fr);


    }


}
@media (max-width:356.99px) {

    .iner-colum {
    background-color: white;

    padding: 32px;
    display: flex;
    gap: 30px;
    }
}