* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost", sans-serif;

}

.container {
    max-width: 1280px;
    padding-inline: 20px;
    margin-inline: auto;

}

.main-parent-class {
    display: flex;
    gap: 20px;

}

.iner-colum-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* title */
.list-contract{
    margin-top: 5px;
}
.span-tage-sec {
    color: rgb(26, 224, 224);

}

.lorem-facts {
    font-size: 20px;
    margin-top: 20px;
    
}

.button-mode {
    height: 37px;
    width: 128px;
    margin-top: 30px;
    background-color: rgb(11, 231, 158);
}
.number-sec{
    font-size: 30px;
    margin-bottom: 20px;
}
.consentraint-cemio{
    margin-bottom: 20px;
}
/* wraps */
.box-size {
    width: 12px;
    aspect-ratio: 1/1;
    background-color: rgb(11, 231, 158);
    margin: 20px;

   
}
.heading-pg{
    width: 50%;
}

.iner-colum-sec{
     display: flex;
    gap: 2px;

}
.iner-colum {
            background-color: rgba(221, 236, 236, 0.685);
            margin-top:20px;
            
}

.imges-class {
    width: 50%;

}

.imges-class img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:1023.99px) {
            .iner-colum-sec{
                display: block;
               
        }
        .main-parent-class{
         flex-direction: column;
        }
        .imges-class {
    width: 100%;

}
.heading-pg{
    width: 100%;
}

}